In [2]:
import pandas as pd
import numpy as np

In [3]:
#1.Get Data
#2. Process -combine, merg
#3. Visualise
#4. Report, ML

In [4]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.52])
#Looks a lot like python list, indexed - differences: 
#Series has dtype
g7_pop.dtype

dtype('float64')

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.520
dtype: float64

In [6]:
g7_pop.name = "G7 Population in millions"
#Can have a name

In [7]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.520
Name: G7 Population in millions, dtype: float64

In [8]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.52 ])

In [9]:
type(g7_pop.values)

numpy.ndarray

In [10]:
#get some elemetns
g7_pop[0]

35.467

In [11]:
g7_pop[1]

63.951

In [12]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [13]:
#We can define the index, and reference the name
g7_pop.index = ['Canada','France','Germany','Italy','Japan','UK','USA']

In [14]:
g7_pop

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in millions, dtype: float64

In [15]:
#We can define it as a dictionary
pd.Series({
    'Canada':35.467,
    'France':63.951,
    'Germany':80.940,
    'Italy':60.665,
    'Japan':127.061,
    'UK': 64.511,
    'USA':318.520
}, name = "G7 Population in Millions")

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in Millions, dtype: float64

In [17]:
#Indexing
g7_pop['Canada']

35.467

In [18]:
g7_pop['Japan']

127.061

In [19]:
g7_pop.iloc[0]

35.467

In [23]:
g7_pop.iloc[-1]

318.52

In [24]:
#Select multiple indices
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [25]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [29]:
#Slicing
#Difference is that upper limit incl
g7_pop['Canada':'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [30]:
#Boolean Series
g7_pop

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in millions, dtype: float64

In [32]:
g7_pop > 70

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
USA         True
Name: G7 Population in millions, dtype: bool

In [33]:
g7_pop[g7_pop>70]

Germany     80.940
Japan      127.061
USA        318.520
Name: G7 Population in millions, dtype: float64

In [34]:
g7_pop.mean()

107.30214285714285

In [35]:
g7_pop[g7_pop>g7_pop.mean()]

Japan    127.061
USA      318.520
Name: G7 Population in millions, dtype: float64

In [36]:
g7_pop.std()

97.24888390521262

In [37]:
g7_pop[(g7_pop > g7_pop.mean()- g7_pop.std()/2) | (g7_pop>g7_pop.mean() +g7_pop.std()/2)]
#Above the mean minus two standard devitaion OR below mean and 2 std dev

France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in millions, dtype: float64

In [42]:
#Operations
g7_pop

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in millions, dtype: float64

In [40]:
g7_pop * 1000

Canada      35467.0
France      63951.0
Germany     80940.0
Italy       60665.0
Japan      127061.0
UK          64511.0
USA        318520.0
Name: G7 Population in millions, dtype: float64

In [43]:
g7_pop.mean()

107.30214285714285

In [44]:
np.log(g7_pop)

Canada     3.568603
France     4.158117
Germany    4.393708
Italy      4.105367
Japan      4.844667
UK         4.166836
USA        5.763685
Name: G7 Population in millions, dtype: float64

In [45]:
g7_pop['France':'Italy'].mean()

68.51866666666666

In [46]:
#Bool3an arrays - Works  the same as numpy
g7_pop

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
USA        318.520
Name: G7 Population in millions, dtype: float64

In [47]:
g7_pop>80

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
USA         True
Name: G7 Population in millions, dtype: bool

In [48]:
g7_pop[g7_pop>80]

Germany     80.940
Japan      127.061
USA        318.520
Name: G7 Population in millions, dtype: float64

In [50]:
g7_pop[(g7_pop>80)|(g7_pop<40)]

Canada      35.467
Germany     80.940
Japan      127.061
USA        318.520
Name: G7 Population in millions, dtype: float64

In [51]:
#Modifying Series
g7_pop['Canda'] = 40.6

In [52]:
g7_pop.iloc[-1] = 500

In [54]:
g7_pop[g7_pop>70] = 99.99

In [55]:
g7_pop

Canada     35.467
France     63.951
Germany    99.990
Italy      60.665
Japan      99.990
UK         64.511
USA        99.990
Canda      99.990
Name: G7 Population in millions, dtype: float64